/**
 * Quantity Field Styles
 * Styles for the quantity increase/decrease buttons on product forms
 */

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField {
  vertical-align: baseline;
  margin-bottom: 30px;
  line-height: 1;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button {
  -webkit-appearance: none;
  height: 37px;
  padding: 6px 12px;
  font-size: 14px;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button:disabled,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button[disabled] {
  color: grey;
  background-color: darkgray;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button:disabled:hover,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button:disabled:focus,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button[disabled]:hover,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button[disabled]:focus {
  background-color: darkgray;
  color: grey;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField input,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button {
  height: 37px;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
  border-radius: 0;
  border-color: #e6e7e8;
  padding: 6px 12px;
  float: left;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button {
  font-size: 20px;
  line-height: 1;
  padding: 6px 12px 10px;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button:hover,
form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField button:focus {
  background: #7ba6bb;
  color: #ffffff;
  outline: none;
}

form[id^="FoxyStripePurchaseForm_PurchaseForm_"] .quantityField input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

/* Quick View Form Styles */
form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField {
  vertical-align: baseline;
  margin-bottom: 30px;
  line-height: 1;
}

form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField button {
  -webkit-appearance: none;
  height: 37px;
  padding: 6px 12px;
  font-size: 14px;
}

form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField input,
form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField button {
  height: 37px;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
  border-radius: 0;
  border-color: #e6e7e8;
  padding: 6px 12px;
  float: left;
}

form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField button {
  font-size: 20px;
  line-height: 1;
  padding: 6px 12px 10px;
}

form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField button:hover,
form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField button:focus {
  background: #7ba6bb;
  color: #ffffff;
  outline: none;
}

form[id^="FoxyStripePurchaseForm_QuickViewPurchaseForm_"] .quantityField input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
}
